input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('./dist/fonts/HelveticaRegular.otf');
}

* {
    font-family: 'HelveticaRegular', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
}

.card {
    width: 100%; 
    text-align: center;
    margin: 10px;
}

.cardAvatar {
    width:120px; 
    height: 120px;
}

.title {
    color: grey;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.links {
    margin: 24px 0;
}

.links img {
    height: 36px;
    width: 36px;
}

.sendMail a, #expand {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.changeTheme span {
    font-size: 30px;
}

.changeTheme {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.postsContent {
    max-width: 100%;
    display: flex;
    /*flex-direction: column;*/
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.postsCard {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 480px;
    height: 240px;
    margin: 20px 10px;
}

.postsCard a {
    font-size: 18px;
    text-decoration: none;
}

.postsCard img {
   width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.postTitle {
    height: 18px;
    line-height: 0.5;
}



.postText {
    align-items: center;
    height: 100%;
    position: relative;
    color: #1f111f;
    display: flex;
    flex-direction: column;
}

.postDescription {
    text-align: center;
    text-wrap: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

.postDate {
    color: #6babff;
    margin-bottom: 25px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.postTags {
    font-size: 14px;
    float: bottom;
    background-color: #5bc0de;
    border-radius: 5px;
    color: #002a80;
    opacity: 1;
    position: absolute; /* добавили */
    bottom: 0; /* добавили */
    padding: 0 5px;
}

.content {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
}

.contentExpanded {
    display: flex;
    flex-wrap: nowrap;
}

.blogContent {
    display: none;
}

/*******************************BLOG*********************************/
.blogContent {
    margin: 0 auto;
    width: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
}

.blogPost a {
    color: #5fa9ee;
}

.blogPost {
    color: #000;
    padding: 10px;
    text-align: left;
    background: #fff;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.blogPostDate, .sourceLink{
    font-size: 12px;
    color: grey;
}

.sourceLink a:visited {
    color: grey;
}

.blogImg  {
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(30%);
}


.spoiler__wrapper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .spoiler__title {
    color: #393939;
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: "HelveticaRegular";
  }
  .spoiler__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-left: 15px;
    position: relative;
  }

  .spoiler__items:after {
    content: "";
    /* bottom: 5%; */
    left: 0;
    height: 100%;
    border-left: 5px dashed #929292;
    position: absolute;
  }

  .spoiler__item__wrapper {
    display: flex;
    background: #fafafa;
    width: 100%;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 5px;
    padding-top: 10px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .number {
    color: #393939;
    font-size: 32px;
    /* font-size: 26px; */
    font-family: "HelveticaRegular";
    margin-right: 10px;
    font-weight: bold;
    float: left;
    height: 100%;
    /* /* margin-bottom: 10px; */
    margin-top: -10px;
  }

  .spoiler__item__title {
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    /* padding-top: 25%; */
    font-family: "HelveticaRegular";
  }

  .spoiler__item__text {
    font-size: 14px;
    color: #393939;
    padding-top: 10px;
    font-family: "HelveticaRegular";
  }
  .spoiler__item {
    width: 100%;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
  }

  /* details {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  } */

  summary:after {
    /* content: url("./arrow.png"); */
    /* content: ⬇; */
    content: "➕";
    color: #393939;
    float: right;
    margin: -2px 0px 0 5px;
    padding: 1px 0 3px 0;
    text-align: center;
    /* height: 2px; width: 2px; */
  }

  details[open] > summary:after {
    /* content: url("./arrow.png"); */
    /* content: "🡇"; */
    content: '➖';
    /* transform: rotate(180deg); */
  }

  summary {
    text-align: left;
  }

  details[open] .number {
    color: #ef8b54;
  }

  summary:hover {
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }
  summary:focus {
    outline: none;
  }





