@font-face {
  font-family: 'Roboto';
  src: url('./fonts/3966.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/3962.ttf');
}

ul {
	list-style-type: none;
}

* {	margin: 0; padding: 0; }
header {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: 100%;
	background: #141414;
	padding-left: 20%;
	padding-right: 20%;
}

.firstblock {
	max-width: 100%;
	display: flex;
	padding: 195px 20% 310px 20%;
}

.content-item img {
	height: 80%; 
}

.content-description {
	padding-left: 100px;
	padding-top: 20px;
	width: 100%;
}

.content-description h1 {
	font-size: 56px;
	font-family: 'Roboto Light', sans-serif;
}

.content-description p {
	padding-top: 55px;
	padding-bottom: 60px;
	font-size: 27px;
	font-family: 'Roboto Light', sans-serif;
}

.header-nav { 
	font-family: 'Roboto Light', sans-serif;
	width: 100%; 
	font-size: 22px;
}

.content-decription-links a {
	font-size: 26px;
	font-family: 'Roboto Regular', sans-serif;
	color: #0070c9;
	text-decoration: none;
}

.content-decription-links a:nth-of-type(1) {
	margin-right: 95px;
}

.header-nav {
	padding-top: 20px;
}

.header-nav a {
	color: #fff;
	text-decoration: none;
}

header a:nth-of-type(1) {
  margin-right: 3%;
}

header a:nth-of-type(3) {
  float: right;
}

.logo {	
	padding-right: 5%; 
	padding-top: 8px;
	padding-bottom: 8px;
}


.possibilities {
	max-width: 100%;
	padding-top: 105px;
	display: flex;
	flex-direction: column;
	padding-left: 20%;
	padding-right: 20%;
	background: #141414;
	padding-bottom: 145px;
}

.possibilities-list {
	color: #fff;
}

.possibilities-list h1{
	font-size: 72px;
	font-family: 'Roboto Light', sans-serif;
	font-weight: bolder;
	margin-bottom: 25px;
}

.possibilities-list p{
	font-size: 20px;
	font-family: 'Roboto Light', sans-serif;
	font-weight: bolder;
}

.possibilities-list-2-1 span, .possibilities-list-2-2 span {
	overflow:hidden;
	float:left; padding-left: 90px;
	margin-top: -40px;
}


.possibilities-list-2 {
	display: flex;
	padding-top: 125px;
}

.possibilities-list-2 ul{
	font-family: 'Roboto Light', sans-serif;
	font-size: 20px;
	color: #fff;

}

.possibilities-list-2 li{
	display: block;
}


.possibilities-list-2 ul:nth-of-type(2){
	padding-top: 20px;
}

.possibilities-list-2 ul:nth-of-type(4){
	padding-top: 20px;
}

.possibilities-list-2 li {
	padding-bottom: 55px;
}

.possibilities-list-2 img {
	margin-right: 40px;
}

.possibilities-list-2-2, .possibilities-list-2-1 {
	display: flex;
}
.possibilities-list-2-2 {
	padding-left: 100px;
}

.smarty {
	padding-top: 60px;
	padding-bottom: 70px;
	display: flex;
	padding-left: 12%;
	flex-direction: row;
	max-width: 100%;
	background: #22415e;
}

.smarty-info {
	padding-top: 110px;
}

.smarty-info img {
	max-width: 50%;
}

.smarty-info p {
	font-size: 27px;
	font-family: 'Roboto Light', sans-serif;
	color: #fff;
	line-height: 2;
	margin-top: 123px;
}

.smarty-tv {margin-left: 150px;}
.smarty-tv img{max-width: 100%;	}
.smarty-item {
	padding-top: 50px;
	padding-left: 30%;
	text-align: center;
	padding-bottom: 70px;
}
.smarty-item  img{max-width: 100%;}
.smarty-more {padding-top: 125px;}
.smarty-more a {
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	font-family: 'Roboto Light', sans-serif;
	padding: 20px;
	border: 3px solid #fff;
	border-radius: 13px;
}

.custom {
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
	padding-top: 5%;	
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 4%;
	display: flex;
	flex-direction: row;
}

.custom h1 {
	font-size: 72px;
	max-width: 100%;
	font-weight: bolder;
}

.custom p {
	padding-top: 45px;
	font-size: 27px;
	padding-bottom: 115px;
}

.custom-text a {
	font-size: 25px;
	text-decoration: none;
	color: #000;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 2% 7%;
}

.custom-text li:nth-of-type(2){
	padding-top: 65px;
}

.custom-img {
	max-width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.custom-img img{
	 width: 100%;
  height: auto;
}

.custom-img a {
	font-size: 25px;
	text-decoration: none;
	color: #000;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 0;
	margin-top: 100px;
	width: 60%;
	margin-left: 20%;
	padding: 2% 7%;
}

.ocean {
	padding-top: 120px;
	max-width: 100%;
	background: #22415e;
	padding-bottom: 0;
	
}

.ocean-text {
	max-width: 100%;
	padding-left: 19%;
}

.ocean-text h1{
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 72px;
	color: #fff;
}

.ocean-text p{
	max-width: 100%;
	font-family: 'Roboto Light', sans-serif;
	font-size: 27px;
	color: #fafafa;
	padding-top: 55px;
}

.ocean-photo {
	max-width: 100%;
	padding-top: 86px;
	padding-left: 11%;
	padding-right: 11%;
}

.ocean-photo img {
	max-width: 100%;
	margin-bottom: -4px;
}


.feedback {
	font-family: 'Roboto';
	max-width: 100%;
	padding: 160px 20% 150px 20%;
}

.feedback h1 { max-width: 100%; padding-bottom: 55px;	font-size: 72px; }
.feedback p { max-width: 100%;  font-size: 27px; }
.feedback ul {	margin-top: 100px; }
.feedback li {max-width: 100%;padding-bottom: 30px;}
.feedback input {
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 40px;
	width: 100%;
	font-size: 27px;
	border-radius: 15px;
	border: 3px solid #000;
}
.feedback button {
	padding: 5% 15%;
	background: #ed1f24;
	border-radius: 15px;
	font-size: 27px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.feedback-last p {
	font-size: 16px;
	color: #9a9a9a;
	padding-top: 30px;
	padding-bottom: 40px;
}

.feedback-last label {padding-left: 20px;font-size: 27px;}

.feedback-last input {
	width: 27px;
	height: 27px;
	margin: 0; padding: 0;
	
	
}
.checkbox {
	transform:scale(1.5);
	color: black;
	border-radius: 10px;
	border: 3px solid black;
}






footer { 
	max-width: 100%;
	display: flex;
	flex-direction: row;
	background: #141414;
	padding: 135px 20% 270px 20%;
}

.footer-2 {
	width: 100%;
	padding-top: 25px;
	margin-left: 212px;
	margin-right: 156px;
}

.footer-2 a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto Light', sans-serif;
}

.footer-3 p{
	color: #989898;
	font-size: 20px;
	font-family: 'Roboto Light', sans-serif;
}

.footer-3 {padding-top: 25px; width: 100%;}

.footer-3 p:nth-of-type(1){
	padding-bottom: 10px;
}

.footer-3 p:nth-of-type(5){
	padding-bottom: 10px;
}



/********************************************************/
@media screen and (max-width: 1300px){
	.firstblock {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.header-nav { 
	font-family: 'Roboto Light', sans-serif;
	width: 100%; 
	font-size: 16px;
}
}

/********************************************************/
@media screen and (max-width: 1140px){
	* { max-width: 100%; }

	footer {

		display: flex;
		max-width: 100%;
		flex-direction: column;
		text-align: center;
		padding-bottom: 30px;
		padding-top: 40px;
	}
	.footer-2 {	margin: 0;}
	.custom {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.custom-img {
		margin-left: 0;
		margin-top: 40px;
	}
	.checkbox {
	transform:scale(1.0);
	color: black;
	border-radius: 10px;
	border: 3px solid black;
}

}


/********************************************************/
@media screen and (max-width: 960px){
	.firstblock {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	* {	margin: 0px; padding: 0px 0px 0px 0px;}
	.logo {	text-align: center;	}
	.header-nav {padding: 0;margin: 0;}
	header a:nth-of-type(3) { float: left;}
	.content-description {padding: 0px 0px 0px 0px;	}
	.content-description p{
		float: left;
		font-size: 16px;
	}
	.content-decription-links a {font-size: 15px;}
	.smarty-tv {margin-top: 50px;}
	.smarty { 
		display: flex;
		flex-direction: column;
		align-content: center; 
	}
	.smarty-more { text-align: center; }
	.smarty-more a {font-size: 20px;}
	.content-item img {	width: auto; height: auto;	}
	.custom {
		display: flex;
		flex-direction: column;
	}
	.custom h1 {font-size: 36px;}
	.custom p {
	padding-top: 25px;
	font-size: 20px;
	padding-bottom: 35px;
	}
	.custom-img a {margin-top: 20px;}
	.custom-text li:nth-of-type(2) {padding-top: 20px;}
	.custom a {
		padding: 1% 1%;
		font-size: 13px;
	}
	.possibilities-list-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 50px;

	}

	.ocean, .feedback, .possibilities, .smarty {padding-top: 20px;
	}
	.ocean-text h1 {font-size: 36px;}
	.ocean-text p {font-size: 20px;	}
	.possibilities-list-2 span {
		font-size: 15px;
		padding-left: 30px;
	} 
	.feedback p {font-size: 20px;}
	.feedback h1 {	font-size: 36px; padding-bottom: 20px;}
	.feedback  ul {margin-top: 20px;}
	.feedback  ul, button, label {font-size: 20px;}
	.feedback { padding-bottom: 20px; }
	.feedback input[type=text] {
		height: 25px;
		font-size: 12px;
		padding: 1% 1%;
		width: 100%;
		padding: 0;
	}
	.feedback label {font-size: 12px; margin: 0;padding: 0;}
	.feedback-last p {padding: 0; font-size: 10px;	}
	.feedback input[type=checkbox] {height: 15px;}
	.possibilities-list-2-2 { padding: 0; }
	.possibilities-list-2 img { width: 15px;height: 15px; }
	.possibilities-list { margin: 0; padding: 0px 0px 0px 0px; }
	.possibilities-list h1 { font-size: 36px; }

}