@font-face {
  font-family: 'Roboto';
  src: url('./fonts/3966.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/3962.ttf');
}


* {	margin: 0; padding: 0; }
header {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: 100%;
	background: #141414;
	padding-left: 20%;
	padding-right: 20%;
}

.firstblock {
	max-width: 100%;
	display: flex;
	padding: 195px 20% 310px 20%;
}

.content-item img {
	height: 80%; 
}

.content-description {
	padding-left: 100px;
	padding-top: 20px;
	width: 100%;
}

.content-description h1 {
	font-size: 56px;
	font-family: 'Roboto Light', sans-serif;
}

.content-description p {
	padding-top: 55px;
	padding-bottom: 60px;
	font-size: 37px;
	font-family: 'Roboto Light', sans-serif;
}

.header-nav { 
	font-family: 'Roboto Light', sans-serif;
	width: 100%; 
	font-size: 22px;
}

.content-decription-links a {
	font-size: 26px;
	font-family: 'Roboto Regular', sans-serif;
	color: #0070c9;
	text-decoration: none;
}

.content-decription-links a:nth-of-type(1) {
	margin-right: 95px;
}

.header-nav {
	padding-top: 20px;
}

.header-nav a {
	color: #fff;
	text-decoration: none;
}

header a:nth-of-type(1) {
  margin-right: 3%;
}

header a:nth-of-type(3) {
  float: right;
}

.logo {	
	padding-right: 5%; 
	padding-top: 8px;
	padding-bottom: 8px;
}


.possibilities {
	max-width: 100%;
	padding-top: 105px;
	display: flex;
	flex-direction: column;
	padding-left: 20%;
	padding-right: 20%;
	background: #141414;
	padding-bottom: 145px;
}

.possibilities-list {
	color: #fff;
}

.possibilities-list h1{
	font-size: 72px;
	font-family: 'Roboto Light', sans-serif;
	font-weight: bolder;
	margin-bottom: 25px;
}

.possibilities-list p{
	font-size: 27px;
	font-family: 'Roboto Light', sans-serif;
	font-weight: bolder;
}

.possibilities-list-2 {
	display: flex;
	padding-top: 125px;
}

.possibilities-list-2 ul{
	font-family: 'Roboto Light', sans-serif;
	font-size: 30px;
	list-style-type: none;
	color: #fff;

}

.possibilities-list-2 li{
	display: block;
}


.possibilities-list-2 ul:nth-of-type(2){
	padding-top: 20px;
}

.possibilities-list-2 ul:nth-of-type(4){
	padding-top: 20px;
}

.possibilities-list-2 li {
	padding-bottom: 55px;
}

.possibilities-list-2 img {
	margin-right: 40px;
}

.possibilities-list-2-2, .possibilities-list-2-1 {
	display: flex;
}
.possibilities-list-2-2 {
	padding-left: 100px;
}

.smarty {
	padding-top: 60px;
	padding-bottom: 70px;
	display: flex;
	padding-left: 12%;
	flex-direction: row;
	max-width: 100%;
	background: #22415e;
}

.smarty-info {
	padding-top: 110px;
}

.smarty-info img {
	max-width: 50%;
}

.smarty-info p {
	font-size: 37px;
	font-family: 'Roboto Light', sans-serif;
	color: #fff;
	line-height: 2;
	margin-top: 123px;
}

.smarty-tv {
	padding-left: 150px;
}

.smarty-tv img{
	max-width: 100%;	
}




































@media screen and (max-width: 1300px){
	.firstblock {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
}
